@{
    ViewData["Title"] = "Contact";
}
<div class="hero-section text-white">
	<!--<h2>@ViewData["Title"]</h2>-->
    <h1>Contact</h1>

<p>Have questions, feedback, or need help? Feel free to reach out to us using the form below.</p>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mt-3">
            @TempData["SuccessMessage"]
        </div>
    }

<form method="post" asp-action="Contact">
        <!--after testing, adding these to dispaly message-->
        @Html.AntiForgeryToken()
        <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required />
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" required />
    </div>

    <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
    </div>

    <button type="submit" class="btn btn-light">Send Message</button>
</form>
</div>
<!--after testing, adding these to dispaly message-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
