@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="hero-section text-center text-white">
	<!-- <h1 class="welcome-text">Privacy Policy</h1>-->
    <div class="privacy-row">
        <div class="image-privacy" style="background-image: url('/images/photo6.jpg');">
            <div class="overlay-text">At SafeSkies, your privacy is important to us. </div>
        </div>
    </div>
    <div class="container mt-5">
    <div class="row">
        <!-- Column 1 -->

        <div class="col-md-6">
            <h2>What We Collect</h2>
            <ul>
                <p>Personal details (name, email, login info)</p>
                <p>Flight booking data</p>
                <p>Usage data via cookies and analytics</p>
            </ul>
        </div>

        <!-- Column 2 -->
			<div class="col-md-6 text-center ">
            <h2>How We Use It</h2>
            <ul>
                <p>To provide and improve our services</p>
                <p>To communicate with you (e.g., confirmations, support)</p>
                <p>To personalize your experience</p>
            </ul>
        </div>
    </div>
  </div>
</div>
