@{
    ViewData["Title"] = "Search Flights";
}
<h2>Find a Flight</h2>
<form method="get">
    <label>Departure:</label>
    <input type="text" name="departure" class="form-control" />

    <label>Destination:</label>
    <input type="text" name="destination" class="form-control" />

    <button type="submit" class="btn btn-success mt-2">Search</button>
</form>
